<!DOCTYPE html>
<html lang="en">
    <head>
        <title>pepchat</title>
        <meta charset="UTF-8">
        <link rel="shortcut icon" type="image/x-icon" href="/favicon_1.ico"/>
        <link href="font.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="style.css" >
        <script src="chat.js"></script>
    </head>
    <body>
        <div class="file-dialog">
            <div class="file-content">
                <div class="file-title">cheap dialog</div>
                <div class="btn" id="yes">yes</div>
                <div class="btn" id="no">no</div>
            </div>
        </div>
        <div class="video-request-dialog">
            <div class="video-request-content">
                <div class="video-request-title">Video stream</div>
                <div class="btn" id="request_video_accept">accept</div>
                <div class="btn" id="request_video_refuse">cancel</div>
            </div>
        </div>
        <div class="video-stream-dialog">
            <div class="video-stream-content">
                <div class="video-stream-title">Video stream</div>
                <img id="video-stream" height="200">
                <video src="" id="camera-stream" autoplay="true"></video>
                <canvas style="display:none;" id="preview"></canvas>
                <div class="btn" id="stream_video_cancel">cancel</div>
            </div>
        </div>
        <div id="cheap">
            <div id="TOP">
                <div>
                    <div id="channel"></div>
                    <div id="picture"><img src="flame.svg" /></div>
                    <div id="topic"></div>
                    <div id="username" contenteditable="true"
                        autocapitalize="off" spellcheck="false"></div>
                </div>
            </div>
            <div id="MIDDLE">
                <div id="chatroom"></div>
                <div id="drag"></div>
                <div id="userlist"></div>
            </div>
            <div id="BOTTOM">
                <input id="message" type="text" />
            </div>
        </div>
    </body>
</html>
