<html>
    <head>
        <title>chat1</title>
        <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
        <link href="font.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="style.css" >
        <script src="socket.io.js"></script>
    </head>
    <body>
        <section id="TOP">
            <input id="username" type="text" />
            <button id="send_username" type="button">Change username</button>
            <span id="feedback">---</span>
        </section>
        <section id="MIDDLE">
            <div id="chatroom"></div>
            <div id="drag"></div>
            <div id="userlist"></div>
        </section>
        <section id="BOTTOM">
            <input id="message" type="text" />
            <button id="send_message" type="button">Send</button>
        </section>
        
        <script src="jquery.min.js"></script>
        <script src="chat.js"></script>
        <script src="drag.js"></script>
    </body>
    
</html>
