<html>
    <head>
        <title>PGP chat</title>
        <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
        <link href="font.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="style.css" >
        <script src="socket.io.js"></script>
        <style>
            section {
                box-sizing:border-box;
            }
            #TOP {
                height: 5%;
                background: #999;
                border-bottom: 2px solid black;
            }
            #MIDDLE {
                height: 90%;
                background: #AAA;
            }
            #BOTTOM {
                height: 5%;
                background: #BBB;
                border-top: 2px solid black;
            }
            #LOG {
                width: 15%;
                height: 100%;
                background: #888;
                float: left;
                border-right: 2px solid black;
            }
            #CHAT {
                width: 70%;
                height: 100%;
                float: left;
                border-right: 2px solid black;
            }
            #USERS {
                width: 15%;
                height: 100%;
                background: #888;
                float: right;
            }
        </style>
    </head>
    <body>
        <section id="TOP">
            <input id="username" type="text" />
            <button id="send_username" type="button">Change username</button>
            <span id="feedback">---</span>
        </section>
        <section id="MIDDLE">
            <section id="LOG">
                Log
            </section>
            <section id="chatroom"></section>
            <section id="USERS">
                Users
            </section>
        </section>
        <section id="BOTTOM">
            <input id="message" type="text" />
            <button id="send_message" type="button">Send</button>
        </section>
        
        <script src="jquery.min.js"></script>
        <script src="chat.js"></script>

    </body>
    
</html>
