<html>
    <head>
        <title>pepchat</title>
        <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
        <link href="font.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="style.css" >
        <script src="socket.io.js"></script>
    </head>
    <body>
        <section id="TOP">
            <div class="inside" id="channel"></div>
            <div class="inside" id="feedback"></div>
            <div class="inside" id="username" contenteditable="true"
                autocomplete="off" autocorrect="off"
                autocapitalize="off" spellcheck="false"></div>
        </section>
        <section id="MIDDLE">
            <div id="chatroom"></div>
            <div id="drag"></div>
            <div id="userlist"></div>
        </section>
        <section id="BOTTOM">
            <input id="message" type="text" />
        </section>
        
        <script src="jquery.min.js"></script>
        <script src="chat.js"></script>
        <script src="drag.js"></script>
    </body>
    
</html>
