<!DOCTYPE html>
<html lang="en">
    <head>
        <title>pepchat</title>
        <meta charset="UTF-8">
        <link rel="shortcut icon" type="image/x-icon" href="/favicon_1.ico"/>
        <link href="font.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="style.css" >
    </head>
    <body>
        <div id="cheap">
            <div id="TOP">
                <div>
                    <div id="channel"></div>
                    <div id="picture"><img src="cheap.png"/></div>
                    <div id="topic"></div>
                    <div id="username" contenteditable="true"
                        autocapitalize="off" spellcheck="false"></div>
                </div>
            </div>
            <div id="MIDDLE">
                <div id="chatroom"></div>
                <div id="drag"></div>
                <div id="userlist"></div>
            </div>
            <div id="BOTTOM">
                <input id="message" type="text" />
            </div>
        </div>
        <script src="chat.js"></script>
    </body>
</html>
