@mixin vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0px;
    height: 100%;
}

header {
    text-align: center;
}

h1 {
    font-family: 'Comfortaa', sans-serif;
    margin: 0px;
}

div#change_username, section#input_zone {
    border: 3px #666;
    background: #999;
}

div#change_username {
    height: 5%;
    display: inline-block;
    background-color: #BCA9F5;
    display: inline-block;
    white-space: nowrap;
}

section#top {
    background: #666;
}

section#chatroom {
    border: 5px #666;
    height: 90%;
    overflow: auto;
}

section#input_zone {
    height: 5%;
    text-align: center;
    background-color: #999;
}

.vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

input#username {
    font-family: 'Comfortaa', sans-serif;
}

input#message {
    display: inline-block;
    width: 88%;
    height: 70%;
    font-family: 'Comfortaa', sans-serif;
}

button#send_message {
    display: inline-block;
    height: 70%;
    width: 10%;
}

p.message {
    margin: 0px;
    width: 100%;
    height: 33px;
    font-family: 'Comfortaa', sans-serif;
    vertical-align: middle;
}

.message:nth-child(even) {
    background-color: #e0e0e0;
}

.message:nth-child(odd) {
    background-color: #f0f0f0;
}
