* {
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'UbuntuR', Verdana, Geneva, Tahoma, sans-serif;
    max-width: 100%;
}

body {
    background: black;
    background-image: url("leeuw.jpg");
    background-size: cover;
}

a {
    text-decoration: none;
    font-weight: bold;
    font-size: 86%;
    padding-left: 6px;
    padding-right: 6px;
}

a:hover {
    color: #333;
}

input {
    outline: none;
}

::placeholder {
    color: #444;
    opacity: 1;
}

#cheap {
    opacity: 0;
    height: 0;
}

#TOP {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 30px;
    background: #666;
    border-bottom: 2px solid #333;
}

#MIDDLE {
    position: fixed;
    top: 30px;
    bottom: 30px;
    left: 0;
    right: 0;
    background: #AAA;
}

#BOTTOM {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;
    text-align: center;
    background: #f0f0f0;
    border-top: 2px solid #333;
}

#chatroom {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 170px;
    overflow-x: hidden;
    border-right: 5px solid #555;
    cursor: auto;
}

#userlist {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 170px;
    background: #888;
    overflow-x: hidden;
}

#drag {
    position: absolute;
    right: 170px;
    top: 0;
    bottom: 0;
    width: 10px;
    cursor: ew-resize;
}

p.user {
    margin: 0px;
    width: 100%;
    height: 33px;
    display: table;
    cursor: default;
}

.user {
    text-align: right;
    padding-right: 10px;
    padding-left: 5px;
}
.user:nth-child(odd) {
    background-color: #d0d0d0;
}

.user:nth-child(even) {
    background: linear-gradient(to right, #d0d0d0, #c0c0c0);
}

input#message {
    display: inline-block;
    width: 99%;
    height: 100%;
    font-size: 16px;
    border: none;
    background: none;
    font-family: 'UbuntuR', Verdana, Geneva, Tahoma, sans-serif;
}

.message {
    margin: 0px;
    width: 100%;
    height: 33px;
    display: table;
    padding-left: 10px;
}

.inside {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    clear: both;
    user-select: text;
}

#channel, #picture, #topic, #username {
    display: inline-block;
    padding: 5px;
    vertical-align: middle;
    font-size: 16px;
    font-weight: bold;
    color: #ccc;
    border: none;
    background: #666;
    white-space: nowrap;
    height: 24px;
}

#picture {
    margin-top: 1px;
}

#channel {
    margin-left: 5px;
    margin-bottom: 2px;
}

#topic {
    font-size: 80%;
    color: #eee;
    vertical-align: middle;
    margin-top: 3px;
}

#username {
    margin-right: 5px;
    float: right;
    transition: 0.4s;
}

#username:hover {
    color: white;
}

.mono {
    font-family: 'UbuntuMono', monospace;
}

.message:nth-child(even) {
    background-color: #e0e0e0;
}

.message:nth-child(odd) {
    background-color: #f0f0f0;
}

.file-dialog {
    position: fixed;
    width: 500px;
    height: 0;
    top: 50%;
    left: 50%;
    margin-top: 0;
    margin-left: -250px;
    background: white;
    color: #222;
    opacity: 0;
    text-align: center;
    overflow: hidden;
    z-index: 100;
    padding: 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.file-content {
    opacity: 0;
}

.file-title {
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: bold;
}

.video-request-dialog {
    position: fixed;
    width: 500px;
    height: 0;
    top: 50%;
    left: 50%;
    margin-top: 0;
    margin-left: -250px;
    background: white;
    color: #222;
    opacity: 0;
    text-align: center;
    overflow: hidden;
    z-index: 100;
    padding: 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.video-request-content {
    opacity: 0;
}

.video-request-title {
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: bold;
}

.video-stream-dialog {
    position: fixed;
    width: 600px;
    height: 0;
    top: 50%;
    left: 50%;
    margin-top: 0;
    margin-left: -300px;
    background: white;
    color: #222;
    opacity: 0;
    text-align: center;
    overflow: hidden;
    z-index: 100;
    padding: 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.video-stream-content {
    opacity: 0;
}

.video-stream-title {
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: bold;
}

#video-stream {
    display: block;
    height: 200px;
    width: 260px;
    border: 1px solid black;
}

#video-stream {
    display: inline-block;
    height: 200px;
    width: 260px;
    border: 1px solid black;
}

#camera-stream {
    display: inline-block;
    height: 200px;
    width: 260px;
    border: 1px solid black;
}


.btn {
    position: relative;
    display: inline-block;
    padding: 20px;
    margin: 20px;
    background: #f0f0f0;
    border-bottom: 1px solid gray;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    transition: all .2s;
}
.btn:hover {
    background: #c0c0c0;
}
.btn:active {
    background: #666;
}

pre {
    display: inline;
    font-family: 'UbuntuMono', monospace;
}
